/**
    Landing Page Style
*/

body{
    background-color: white;
    padding: 0;
    margin: 0;
}


footer{
    border: 0px solid red;
    margin-top: 100px;
    height: auto;
}


h1{
    margin-top: 40px;
    font-size: 22px;
    color: #464646;
    font-family: 'par';
}

h6{
    font-size: 12px;
    margin-top: 20px;
    color: rgb(103, 111, 128);
    font-family: 'par'; /**CHANGE THIS FONT*/
    text-align: center;
}

p{
    font-size: 16px;
    margin-top: 10px;
    color: #96A2B9;
    font-family: 'par'; /**CHANGE THIS FONT*/
}

a{
    font-size: 16px;
    color: #96A2B9;
    font-family: 'par'; /**CHANGE THIS FONT*/
    text-decoration: none;
}

.content{
    border: 1px solid purple;
    width: 65%;
    height: auto;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.topbar{
    border: 1px solid red;
    width: 100%;
    height: 45px;
}

.logo{
    border: 1px solid red;
    width: 45px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./../assets/image/logoDark.png");
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
}


.social{
    border: 1px solid red;
    width: 40%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.social_box{
    border: 1px solid red;
    width: 20px;
    height: 20px;
    display: inline-block;
}


/**
    Projects
*/

.projects{
    border: 0px solid red;
    width: 100%;
    height: auto;
}

.card{
    border: 0px solid red;
    width: 100%;
    height: 30px;
    margin-top: 0px;
}


/**
    Components
*/

.separator{
    border-color: rgb(230, 230, 230);
    width: 100%;
    margin-bottom: 25px;
}



/**
    OTHER SCREEN - media queries
*/

@media screen  and (max-width: 1650px) /* screen */ {

  }

@media screen  and (max-width: 979px) /* Tablet */ {
    .content{
        width: 80%;
        height: auto;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

  }


@media screen and (max-width: 500px) /* Mobile */ {
    .content{
        width: 90%;
        height: auto;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

  }

  
/**
    IMPORT LOCAL FONTS
*/

@font-face {
    font-family: 'mediumTest';
    src: url('../assets/fonts/Gotham-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'par';
    src: url('../assets/fonts/GothamNarrow-Book.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}