/**
    Landing Page Style
*/

body{
    background-color: #11151D;
}

.content{
    border: 0px solid purple;
    width: 65%;
    height: auto;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    border: 0px solid red;
    width: 45px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./../assets/image/logoWhite.png");
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
}


.mid{
    border: 0px solid red;
    width: 100%;
    height: auto;
}


.topCard{
    border: 0px solid red;
    width: 80%;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.bottomCard{
    border: 0px solid red;
    width: 80%;
    height: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.bottom{
    border: 0px solid red;
    width: 100%;
    height: 50px;
}

/**
    Components
*/

.separator{
    margin-top: 50px;
    border-color: #3C4454;
    width: 85%;
}

.projectCard{
    border: 0px solid red;
    background-color: #22252D;
    border-radius: 5px;
    position: relative;
    float: left;
    width: 250px;
    height: 120px;
    margin-top: 30px;
    margin-right: 30px;
}

/**
    TEXT STYLE
*/

.title{
    color: white;
    font-size: 22px;
    font-family: 'mediumTest';
    text-align: left; /**Remove this (dev-mode)*/

}

.p{
    color: #96A2B9;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'mediumTest';

}

.linkText{
    color: rgb(182, 189, 202);
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'mediumTest';
}

.subtitle{
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;/**Remove this (dev-mode)*/

}

/**
    IMPORT LOCAL FONTS
*/

@font-face {
    font-family: 'mediumTest';
    src: url('../assets/fonts/Gotham-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }