/**TEMPLATE PAGE*/

body{
    background-color: #11151D;
}

h1{
    font-size: 22px;
    color: white;
    font-family: 'mediumTest';
}

h2{
    font-size: 19px;
    color: #96A2B9;
    font-family: 'par';
}

p{
    font-size: 16px;
    color: #96A2B9;
    font-family: 'par'; /**CHANGE THIS FONT*/
}

a{
    font-size: 16px;
    color: #96A2B9;
    font-family: 'par'; /**CHANGE THIS FONT*/
    text-decoration: none;
}

img{
    margin-top: 20px;
    width: 100%;
}


.content{
    border: 0px solid red;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.top{
    border: 0px solid red;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./../../assets/image/logoWhite.png");
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
}

.mid{
    border: 0px solid red;
    width: 70%;
    height: 400px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.article{
    border-top: 1px solid #3C4454;
    width: 100%;
    height: auto;
}

.bottom{
    border: 1px solid red;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}


/**
    OTHER SCREEN - media queries
*/

@media screen  and (max-width: 1650px) /* screen */ {
    
    
  }

@media screen  and (max-width: 979px) /* Tablet */ {
    
  }


@media screen and (max-width: 500px) /* Mobile */ {
    h1{
        font-size: 19px;
        color: white;
        font-family: 'mediumTest';
    }
    
    p{
        font-size: 12px;
        color: #96A2B9;
        font-family: 'par'; /**CHANGE THIS FONT*/
    }
    .content{
        border: 0px solid red;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .mid{
        border: 0px solid red;
        width: 90%;
        height: 400px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
  }

/**
    IMPORT LOCAL FONTS
*/

@font-face {
    font-family: 'mediumTest';
    src: url('./../../assets/fonts/Gotham-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'par';
    src: url('./../../assets/fonts/GothamNarrow-Book.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 