<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="../../assets/image/logoWhite.png">
        <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../css/projectPage.css">
        <meta name="theme-color" content="#11151D"/>
        <title>TEMPLATE</title>
    </head>

    <body>
        <div class="content">

            <div class="top">
                <div class="logo"></div>
            </div>

            <div class="mid">
                <h1>Title project</h1>
                <div class="article">
                    <img src="./img/IMAGE_NOT_AVAILABLE.png" alt="">
                    <h2>Subtitle</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sapiente nostrum voluptas ab eveniet inventore. Quasi quidem nihil laborum aspernatur ipsa unde magni hic aperiam porro, voluptatum commodi. Quisquam, praesentium.
                    </p>
                    <h2>Download</h2>
                    <div class="download">
                        <img style="width: 15px;margin-right: 5px;"src="../../assets/image/arrow-down.svg" alt="">
                        <a href="">PCB FILE</a>
                    </div>
                    

                </div>

                <div class="bottom">
                    <h6>Copyright © 2020 OBJEX. All rights reserved</h6>
                </div>
            </div>          
        </div>    
    </body>

</html>