<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="../../assets/image/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="projectPage.css">
        <meta name="theme-color" content="#11151D"/>
        <title>TEMPLATE</title>
    </head>

    <body>

        <div class="top">
            <a href="https://objex-iot.tech">
                <div class="logo"></div>
            </a>  
        </div> 

        <div class="banner">
            <div class="article">
                <h1>Come ottimizzare lo sviluppo di un circuito?</h1>
                <p>
                    Progettare un circuito...
                </p>
                <a href="">All resources on Github</a>
            </div>
        </div>

        <div class="post">
            <h2>Convert .xml files to .xlsx/.csv</h2>
            <h3>#Python</h3>
            <p>
                Sono riuscito a estrarre di dati del bom file (.xml) generato da KiCad.  
            </p>
            <h4> 8:30pm - 02/04/20</h4>

        </div>

        <div class="post">
            <h2>Convert .xml files to .xlsx/.csv</h2>
            <h3>#Python</h3>
            <p>
                Sono riuscito a estrarre di dati del bom file (.xml) generato da KiCad.  
            </p>
            <h4> 8:30pm - 02/04/20</h4>

        </div>

        <footer>
            <h6>© 2020 objex-iot.com - Salvatore Raccardi</h6>
        </footer>
    </body>

</html>